
.screen-center{
    // margin: 0 2% 0 2%;
    width: 6.3rem;
}

.total_num{
    //padding-top: 3%;
    color: #fff;
    width: 100%;
    height: 25%;
    font-size: 0.20rem;
    .tel_ul{
        padding-left: 13%;
    }
}

.detail_num{
    color: #fff;
    float: left;
    width: 100%;
    height: 75%;
    .commander_list{
        padding-left: 5%;
        .commander_detail{
            font-size: 0.20rem;
            line-height: 40px;
        }
        span{
            font-size: 0.18rem;
            margin: 7px;
        }
    }
    .yellow_name{
        color: #B4990B;
    }
}

.content-top{
    width: 100%;
    height: 45%;
    background-color: blue;
}
.content-center{
    width: 100%;
    height: 35%;
    margin-top: 7.5%;
}
.content-bottom{
    width: 100%;
    height: 6%;
    margin-top: 6.5%;
    background-image: url('../images/birthday_bg.png');
    background-repeat: no-repeat;   //不重复
    background-size: 100% 100%;     // 满屏
    span{
        color: #06F0B7;
        font-size: 0.24rem;
    }
}
.content-left{
    width: 47%;
    float: left;
    height: 100%;
    .star_month{
        padding-left: 2%;
        img{
            margin-left: 20px;
        }
        span{
            color: #fff;
            font-size: 0.20rem;
            margin-left: 20px;
        }
        ul{
            line-height: 60px;
        }
    }
}
.content-right{
    width: 47%;
    float: right;
    height: 100%;
    .evaluate_detail{
        padding-left: 3%;
        padding-top: 4%;
        line-height: 38px;
        span{
            color: #fff;
            font-size: 0.20rem;
            margin-left: 30px;
        }
    }
}
.dd-birthday{
    span{
        color: #06F0B7;
        font-size: 0.24rem;
    }
}
.star_img{
    height:0.6rem;
    width:0.45rem;
}