
.screen-center{
    // margin: 0 2% 0 2%;
    width: 6.3rem;
}

.total_nums{
    width: 100%;
    height: 0.8rem;
    .tel_ul{
        padding-left: 1.1rem;
        li{
            color: #fff;
            font-size: 0.18rem;
        }
    }
}

.total_num{
    width: 100%;
    height: 0.8rem;
    //background-color: red;
    .tel_ul{
        padding-left: 1.2rem;
        li{
            color: #fff;
            font-size: 0.18rem;
        }
    }
}

.detail_nums{
    width: 100%;
    height: 3.9rem;
    color: #fff;
    .mf{
        height: 0.6rem;
    }
    .ms{
        height: 0.6rem;
    }
    .mx{
        height: 0.6rem;
    }
    .mj{
        height: 0.6rem;
    }
    .mk{
        height: 0.6rem;
    }
    .ml{
        height: 0.6rem;
    }

    .commander_name{
        width: 16%;
        float: left;
        font-size: 0.18rem;
    }
    .commander_detail{
        width: 84%;
        float: left;
    }

    span{
        font-size: 0.17rem;
        margin-left: 0.15rem;
        width: 0.6rem;
        text-align-last:justify;
        display: inline-block;
    }
}

.detail_num{
    width: 100%;
    height: 2.4rem;
    color: #fff;
    .mf{
        height: 0.4rem;
    }
    .ms{
        height: 0.8rem;
    }
    .mx{
        height: 1.2rem;
    }
    .commander_name{
        width: 14%;
        float: left;
        font-size: 0.18rem;
    }
    .commander_detail{
        width: 86%;
        float: left;
    }
    span{
        font-size: 0.17rem;
        margin-left: 0.15rem;
        width: 0.6rem;
        text-align-last:justify;
        display: inline-block;
    }
}

.content-top{
    width: 100%;
    height: 4.7rem;
}
.content-center{
    width: 100%;
    height: 3.5rem;
    margin-top: 0.38rem;
}
.content-bottom{
    width: 100%;
    height: 0.55rem;
    margin-top: 0.38rem;
    background-image: url('../images/birthday_bg.png');
    background-repeat: no-repeat;   //不重复
    background-size: 100% 100%;     // 满屏
    span{
        color: #06F0B7;
        font-size: 0.28rem;
    }
}
.content-left{
    width: 3.0rem;
    float: left;
    height: 3.5rem;
    ul{
        //padding-left: 0.3rem;
        padding-top: 0.15rem;
        width: 2.8rem;
        height: 0.7rem;
    }
    img{
        margin-left: 0.25rem;
    }
    img[src=""],img:not([src]){opacity:0;} //空图片边框去除
    span{
        margin-left: 0.2rem;
        color: #fff;
        width: 0.5rem;
        font-size: 0.15rem;
    }
    .name_star{
        width: 1.0rem;
    }
    .star_img{
        height:0.6rem;
        width:0.45rem;
    }
}
.star_month ul {
    padding-left: 0.35rem;
}
.star_month ul li{
    display: flex;
    flex-direction: row;
    height: 0.52rem;
    margin-bottom: 0.2rem;
    align-items: center;
}
.star_month ul li img:first-child{
    margin-right: 0.3rem;
    width: 1rem;
}
.star_month ul li img:nth-child(2){
    margin-right: 0.2rem;
    width: 0.43rem;
    height: 0.52rem;
}
.content-right{
    width: 3.0rem;
    float: right;
    height: 3.5rem;
    .evaluate_detail{
        width: 3.0rem;
        height: 3.0rem;
        margin-top: 0.1rem;
        li{
            width: 3.0rem;
            height: 0.5rem;
            padding-left: 0.45rem;
        }
        span{
            width: 0.8rem;
            color: #fff;
            font-size: 0.18rem;
            margin-left: 0.15rem;
        }
    }
}
.dd-birthday{
    span{
        color: #06F0B7;
        font-size: 0.24rem;
    }
}
.seamless-warp2{
    color: #06F0B7;
    font-size: 0.2rem;
    overflow: hidden;
    height: 0.55rem;
    width: 6.3rem;
    ul.item{
        float: left;
        margin-top: 0.12rem;
        margin-left: 3rem;
    }
}
.seamless-userName{
    height: 0.5rem;
    overflow: hidden;
    //width: 84%;
    // ul.item{
    //     float: left;

    // }
}
.seamless-userName1{
    height: 0.7rem;
    overflow: hidden;
}
.seamless-userName2{
    height: 1.1rem;
    overflow: hidden;
}