.main{
    width: 100%;
    height: 100%;
    background-color: red;
    float: left;
}
.left{
    width: 30%;
    height: 100%;
    background-color: #A074C4;
    float: left;
}
.content{
    width: 40%;
    height: 100%;
    background-color: #83C149;
    float: left;
}
.rigth{
    width: 100%;
    height: 100%;
}
.right-top{
    // width: 100%;
    // height: 30%;
    // background-image: url('../images/left_item_bg.png');
    // background-size: 100% 100%;
    // margin-bottom: 4%;
    height: 2.63rem;
    margin-bottom: 0.33rem;
}

.right-content{
    width: 100%;
    height: 45%;
    background-image: url('../images/left_item_bg.png');
    background-size: 100% 100%;
    margin-bottom: 4%;
}

.right-bottom{
    // width: 100%;
    // height: 18%;
    // background-image: url('../images/left_item_bg.png');
    // background-size: 100% 100%;
    height: 1.58rem;
    margin-bottom: 0rem;
}
.text{
    text-align: center;
    color: #fff;
    font-size: 0.24rem;
    padding-top: 0.03rem;
    
}
.title{
    width: 45%;
    color: #fff;
    font-size: 0.24rem;
    margin:0 auto;
    background-image: url('../images/item_title_bg.png');
    background-size: 100% 100%;
}
.text1{
    text-align: center;
    color:#fff;
    font-size: 0.24rem;
}
.text2{
    text-align: center;
    color: #fff;
    font-size: 0.24rem;
    padding-top: 0.03rem;
}
.num{
    color: #fff;
    width: 100%;
    font-size:0.20rem;
    padding: 0.25rem 0 0 0.23rem;
}
.num1{
    color: #fff;
    width: 100%;
    font-size: 0.24rem;
}
.info{
    color: #fff;
    width: 100%;
    font-size: 0.2rem;
    padding-left: 0.22rem;
}
.info1{
    padding-top: 0.22rem;
    padding-bottom: 0.24rem;
}
.round{
    width: 0.17rem;
    height: 0.17rem;
    border-radius: 0.17rem;
    background-color: #019CFE;
    float: left;
    margin-right: 0.1rem;
}
.round1{
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 0.15rem;
    background-color: #019CFE;
    float: left;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
}
.tel_ul li{
    float: left;
    margin-right: 0.28rem;
    text-align: center;
}
.tel_ul li:last-child{
    margin-right: 0rem;
}
.color_r{
    color: #C81F26;
}
.color_b{
    color: #59B4F1;
}
.color_y{
    color: #DED433;
}
.color_g{
    color: #11C662;
}
.color_o{
    color: #D15F47;
}

.mt{
    margin-top: 0.15rem;
}
.rigth-middle{
    height: 4.63rem;
    margin-bottom: 0.32rem;
}
.zq-num1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.zq_ul li{
    float: left;
}
.zq_ul{
    text-align: center;
    margin-top: 0.34rem;
    // margin-left: 33%;
    font-size: 0.19rem;
}
.bj_r{
    background-color: #FE0000;
    margin-top: 0.08rem;
    margin-left: 0.05rem;

}
.bj_y{
    background-color: #BEA000;
    margin-top: 0.08rem;
    margin-left: 0.05rem;
}
.bj_g{
    background-color: #13BE00;
    margin-top: 0.08rem;
    margin-left: 0.05rem;
}
.clear{ clear:both;color: #fff;} 
.vehicle{
    // padding: 3% 0 0 3%;
    padding-left: 0.13rem;
    padding-top: 0.2rem;
}
.ve_ul li{
    // padding-bottom: 0.29rem;
    margin-bottom: 0.29rem;
    height: 0.28rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list_bj{
    background-image: url('../images/list_bj.png');
    background-size: 100% 100%;
    // width: 45%;
    width: 2.51rem;
    // padding-left: 5%;
    padding-left:0.22rem;
    // float: left;
    // margin: 0.05rem;
    margin-right: 0.2rem;
    font-size: 0.2rem;
}
.list_bj .round{
    margin-right: 0.05rem;
}
.list_text{
    // float: left;
    // margin-right: 0.1rem;
    // margin: 0.05rem;
    // margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.16rem;
}

.fr{
    float: right;
}
.mt2{
    margin-top: 1px;
    float: left;
}
.list_text .mt2{
    float: none;
    margin-top: 0px;
    margin-right: 0.1rem;
}
.duty{
    // padding: 3% 0 0 5%;
    // float: left;
    // margin-left: 10%;
    // margin-left: 0.8rem;
}
.duty_ul{
    color: #fff;
    font-size: 0.16rem;
}
.size17{
    font-size: 0.20rem;
    margin-bottom: 0.14rem;
}
.duty_ul_li{
    float: left;
    margin-left: 0.1rem;
}
.duty-main{
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding-top: 0.25rem;
}
.duty-main .duty:first-child{
    margin-right: 0.8rem;
}
.progress{
    width: 100%;
    padding: 5% 10% 5% 10%;
    color: #ffffff;
}
.pro{
    height: 40px;
    line-height: 40px;
}
.el-progress__text{
    color: #ffffff;
    font-size: 13.8px!important;
}
.pro-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    
}
.pro-div span{
    margin-right: 0.2rem;
}