.main{
    width: 100%;
    height: 100%;
    background-color: red;
    float: left;
}
.left{
    width: 30%;
    height: 100%;
    background-color: #A074C4;
    float: left;
}
.content{
    width: 40%;
    height: 100%;
    background-color: #83C149;
    float: left;
}
.rigth{
    width: 100%;
    height: 100%;
}
.right-top{
    width: 100%;
    height: 30%;
    background-image: url('../images/left_item_bg.png');
    background-size: 100% 100%;
    margin-bottom: 4%;
}

.right-content{
    width: 100%;
    height: 45%;
    background-image: url('../images/left_item_bg.png');
    background-size: 100% 100%;
    margin-bottom: 4%;
}

.right-bottom{
    width: 100%;
    height: 20%;
    background-image: url('../images/left_item_bg.png');
    background-size: 100% 100%;
}
.text{
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
    padding-top: 0.03rem;
    
}
.title{
    width: 45%;
    color: #fff;
    font-size: 0.28rem;
    margin:0 auto;
    background-image: url('../images/item_title_bg.png');
    background-size: 100% 100%;
    padding: 1%;
}
.text1{
    text-align: center;
    color:#fff;
    font-size: 0.28rem;
    padding-top: 0.1rem;
}
.text2{
    text-align: center;
    color: #fff;
    font-size: 0.28rem;
    padding-top: 0.03rem;
}
.num{
    color: #fff;
    width: 100%;
    font-size: 0.28rem;
    padding: 5% 0 0 5%;
}
.num1{
    color: #fff;
    width: 100%;
    font-size: 0.28rem;
}
.info{
    color: #fff;
    width: 100%;
    font-size: 0.28rem;
    padding: 3% 0 0 5%;
}
.round{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 0.1rem;
    background-color: #019CFE;
    float: left;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
}
.tel_ul li{
    float: left;
    margin-right: 0.21rem;
    text-align: center;
}
.color_r{
    color: #C81F26;
}
.color_b{
    color: #59B4F1;
}
.color_y{
    color: #DED433;
}
.color_g{
    color: #11C662;
}
.color_o{
    color: #D15F47;
}

.mt{
    margin-top: 0.20rem;
}
.zq_ul li{
    float: left;
}
.zq_ul{
    text-align: center;
    margin-top: 2%;
    margin-left: 33%;
}
.bj_r{
    background-color: #FE0000;
    margin-top: 0.15rem;
    margin-left: 0.05rem;

}
.bj_y{
    background-color: #BEA000;
    margin-top: 0.15rem;
    margin-left: 0.05rem;
}
.bj_g{
    background-color: #13BE00;
    margin-top: 0.15rem;
    margin-left: 0.05rem;
}