.screen{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/group_bg.jpg) no-repeat top center;
    min-width: auto !important;
    background-repeat: repeat-y;
    &-title{
        text-align: center;
        position: relative;
        width: 100%;
        h2{
            font-size: 0.4rem;
            line-height: 0.4rem;
            color: #7efafc;
            padding-top: 0.22rem;
        }
        img{
            display: block;
            width: 100%;
            margin-top: -0.62rem;
        }  
    }

    &-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 0.29rem;
        padding-right: 0.4rem;
        height: 100%;
    }

    &-left{
        width: 5.97rem;
        display: flex;
        flex-direction: column;
    }

    &-right{
        width: 5.67rem;
        display: flex;
        flex-direction: column;
    }
}
.screen-item{
    position: relative;
    overflow: hidden;
    margin-bottom: 0.38rem;
    height: 2.83rem;
    background: #142865;
    border: 1px solid #2673e5;
}
.screen-item-title{
    color: #fff;
    font-size: 0.24rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    width: 2.64rem;
    background: url(../images/item_title_bg.png) no-repeat center;
    background-size: 100% 100%;
    margin: 0 auto;
}
.screen-item-main{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
.weather-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 0.52rem;
    margin-top: 0.30rem;
    margin-bottom: 0.14rem;
    span{
        color: #fff;
        font-size: 0.26rem;
        margin: 0 3px;
        display: block;
    }
    img{
        height: 0.52rem;
        margin: 0 0.22rem;
        width: 0.5rem;
    }
    .weather-icon{
        height: 0.52rem;
        margin: 0 0.22rem;
        width: 0.5rem;
        // background-image: url(../images/0@2x.png);
        background-size: 100% 100%;
    }
}
.weather-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.21rem;
    flex-wrap: wrap;

}
.weather-item li{
    display: flex;
    flex-direction: row;
    height: 0.61rem;
    width: 1.73rem;
    align-items: center;
    border: 1px solid #02509b;
    margin-bottom: 5px;
}
.weather-item li span{
    height: 0.58rem;
    display: block;
    line-height: 0.58rem;
    text-align: center;
    font-size: 0.2rem;
}
.weather-item-left{
    background: #103384;
    color: #fff;
}
.weather-item-right{
    font-weight: bold;
    color: #00d8fd;
}
.weather-item-mid-left{
    width: 0.83rem;
}
.weather-item-mid-right{
    width: 0.88rem;
}
.weather-item-big-left{
    width: 0.94rem;
}
.weather-item-big-right{
    width: 0.77rem;
}
.weather-item-small-left{
    width: 0.69rem;
}
.weather-item-small-right{
    width: 1.02rem;
}
.notice-icon{
    width: 0.33rem;
    height: 0.33rem;
}
.warn-info{
    display: flex;
    flex-direction: row;
    padding-top: 0.55rem;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    color: #fff;
}
.warn-info span{
    font-size:0.2rem;
    line-height: 0.34rem;
    display: block;
    padding-left: 0.08rem;
}
.warn-img{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.warn-img img{
    width: 2rem;
}
.warn-info .warn-txt{
    font-size:0.2rem;
    line-height: 0.34rem;
}
.seamless-notice{
    height: 1.36rem;
    overflow: hidden;
}
.seamless-notice ul li p{
    font-size:0.2rem;
    line-height: 0.34rem;
}
.two-branch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.branch-item{
    width: 2.85rem;
    height: 3.06rem;
    margin-bottom: 0rem;
    background: #142865;
    border: 1px solid #2873e6;
}
.branch-cont{
    padding-top: 0.11rem;
}
.branch-cont-title{
    height: 0.28rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #124a87;
    width: 100%;
    padding-left: 0.09rem;
    padding-right: 0.41rem;
    margin-bottom: 0.19rem;
}
.branch-cont-title span{
    text-align: center;
    font-size: 0.18rem;
    color: #fff;
}
.branch-time{
    width: 0.64rem;
}
.branch-content{
    width: 1.05rem;    
}
.seamless-bang{
    height: 1.9rem;
    overflow: hidden;
}
.bangnull{
    text-align: center;
    font-size: 0.2rem;
    color: #fff;
    padding-top: 0.3rem;
}
.branch-ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.09rem;
    margin-bottom: 0.29rem;
}
.branch-ul li:last-child{
    margin-bottom: 0rem;
}
.branch-ul li span{
    font-size: 0.16rem;
    height: 0.28rem;
    color: #fff;
}
.branch-ul li .branch-time{
    background: #123674;
    padding-left: 0.19rem;
}
.branch-ul li .branch-project{
    width: 1.46rem;
    text-align: left;
}
.branch-bang-title{
    padding-left: 0rem;
    padding-right: 0rem;
}
.branch-bang-title span{
    font-size: 0.18rem;
    text-align: center;
}
.branch-bang-title .bang-subject{
    text-align: left;
    padding-left: 0.12rem;
}
.bang-ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1rem;
    height: 0.2rem;
}
.bang-ul li span{
    color: #fff;
    font-size: 0.16rem;
    text-align: center;
}
.bang-subject{
    width: 1.27rem;
    padding-left: 0.06rem;
}
.bang-ul li .bang-subject{
    text-align: justify;
    text-align-last:justify;
}
.bang-score{
    width: 0.7rem;
}
.bang-name{
    width: 0.85rem;
}
.seamless-work{
    height: 1.8rem;
    overflow: hidden;
    padding-top: 0.48rem;
}
.important-work{
    padding-left: 0.36rem;
    padding-right: 1.1rem;
}
.important-work li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0.2rem;
    font-size: 0.2rem;
    color: #fff;
    margin-bottom: 0.2rem;
}
.dd-main{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.dd-item{
    width: 6rem;
}
.dd-center{
    width: 6.3rem;
}
.person-move{
    height: 3.60rem;
    margin-bottom: 0.35rem;
}
.dd-list{
    background: #142865;
    border: 1px solid #2673e5;
}
.jq-info{
    height: 2.6rem;
    margin-bottom: 0.28rem;
}
.month-fenxi{
    height: 4.2rem;
    margin-bottom: 0.30rem;
}
.double-data{
    height: 2.2rem;
    margin-bottom: 0.29rem;
}
.dd-birthday{
    height: 0.8rem;
}
.month-type{
    height: 2.4rem;
    margin-bottom: 0.28rem;
}
.zhiban-info{
    height: 1.2rem;
}
